SECRET_KEY=change-me-to-a-random-50-char-string
DEBUG=True
DATABASE_URL=postgres://postgres:YOUR_PASSWORD@localhost:5432/tolymoly
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=30
JWT_REFRESH_TOKEN_LIFETIME_DAYS=14
